img.logo-dark.img-fluid {
    height: 4rem;
}

.header__topbar .lang-dropdown .lang-dropdown-toggle.globe {
    padding: 0 10px;
    background-color: #ffffff;
    color: #091d3e;
}

.pagetitle__form .input-group {
    border-radius: 5px;
}

p.pagetitle__desc {
    border-radius: 10px;
    background-color: #fdbd13ad!important;
}

.news-service li {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: .5rem;
    border-top: 2px solid #fdbd13;
}

.news-service li:hover {
    background: #fff5db;
}

.news-service li i {
    font-size: 1.5rem;
    color: #fdbd13;
}

.news-service .contact-panel__title {
    font-size: 1.2rem;
    text-align: center;
}

.news-service .btn:hover {
    color: #fff;
}

.news-service button.btn {
    background: #7e899a;
    color: #fff;
}

.news-service .contact-panel .content {
    height: 25rem;
}

.news-service .contact-panel {
    border-top: 5px solid #fdbd13;
    margin-bottom: 3rem;
}

.news-service marquee {
    font-size: 2rem;
    color: #1f314f;
    border-bottom: 4px solid #fdbd13;
}

.banner-2 .banner-img-area-top {
    position: relative;
}

.banner-2 .ben-img-content {
    position: absolute;
    bottom: 0%;
    /* left: 5%; */
    color: #fff;
    padding-left: 2rem;
    width: 100%;
    background: #091d3e82;
}

.banner-2 .ben-img-content span {
    font-size: 3rem;
}

.banner-2 .ben-img-content h6 {
    color: #fff;
}
.sb-bg {
    background: #ffffffe8;
    /* height: 100%; */
    color: black;
    font-weight: 600;
}